body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    font-family: Arial, sans-serif;
}

.container {
    height: auto;
    width: auto;
    background: #444;
    border: none;
    border-radius: 17px;
    text-align: center;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-right: 18px;
}


.btn button:hover {
    background-color: rgb(224, 220, 220);
}

.btn button {
    align-items: center;
    background: gray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn img {
    height: 30px;
    padding: 5px;
}

.myBigHead {
    color: white;
    display: inline-block;
    padding: 0 20px;
}

.change-btn {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
}